<nav class="nav">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/dining">Dining</a>
    <a class="nav-link" href="/assistance">Assistance</a>
    <a class="nav-link" href="/order">Order</a>
  </nav>