<nav class="nav">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/dining">Dining</a>
    <a class="nav-link" href="/assistance">Assistance</a>
    <button id="orderButton" class="btn btn-warning">Order</button>
  </nav>