#topCards{
    display: flex;
    justify-content: space-around;
}

.nav{
    background-color: rgb(19, 19, 53) !important;
    height: 10vh;
    line-height: 8vh;
}


#jumbotron{
    background-image: url(./images/entrance.jpg);
    height: 50vh;
    background-size: cover;
    background-position-y: 50%;
}