
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Assistance Service</title>
        <link rel="stylesheet" href="/assistance.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
      <%- include('../partials/navbar.ejs') %>
      <div class="container">
        <div class="card-group vgr-cards">
          <div class="card">
            <div class="card-img-body">
            <img class="card-img" src="https://images2.minutemediacdn.com/image/upload/c_crop,h_843,w_1500,x_0,y_9/f_auto,q_auto,w_1100/v1555154538/shape/mentalfloss/502067-istock-119824663-primary.jpg" alt="Card image cap">
            </div>
            <div class="card-body">
              <h4 class="card-title">Room Service</h4>
              <p class="card-text">Having a neat and tidy room is important. In this hotel we have specialized cleaners to make your room nice and tidy before you get back. Get your room cleaned in minutes.</p>
              <a class="btn btn-info" data-toggle="collapse" href="#collapseService" role="button" aria-expanded="false" aria-controls="collapseService">Learn More</a>
              <div class="collapse" id="collapseService">
                <div id="select">
                 <a class="btn btn-outline-primary option" href="#" role="button">Housekeeping</a>
                 <a class="btn btn-outline-secondary option" href="#" role="button">Laundry</a>
                 <a class="btn btn-outline-success option" href="#" role="button">Cleaning</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-img-body">
              <img class="card-img" src="https://www.thebelamar.com/application/files/9915/0369/4894/best_manhattan_beach_hotel_rooms_accommodations.jpg" alt="Card image cap"></div>
            <div class="card-body">
              <h4 class="card-title">Room Accomodations</h4>
              <p class="card-text">This card has supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content.</p>
              <a class="btn btn-info" data-toggle="collapse" href="#collapseAccom" role="button" aria-expanded="false" aria-controls="collapseAccom">Learn More</a>
              <div class="collapse" id="collapseAccom">
                <div id="select">
                 <a class="btn btn-outline-primary option" href="#" role="button">Toiletry</a>
                 <a class="btn btn-outline-secondary option" href="#" role="button">Snacks</a>
                 <a class="btn btn-outline-success option" href="#" role="button">Drinks</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-img-body">
              <img class="card-img" src="https://i.pinimg.com/originals/9d/42/b1/9d42b1779351931414dc45c2ac03aa4c.jpg" alt="Card image cap"></div>
            <div class="card-body">
              <h4 class="card-title">Assistance</h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <a class="btn btn-info" data-toggle="collapse" href="#collapseAssistance" role="button" aria-expanded="false" aria-controls="collapseAssistance">Learn More</a>
              <div class="collapse" id="collapseAssistance">
                <div id="select">
                 <a class="btn btn-outline-primary option" href="#" role="button">Help</a>
                 <a class="btn btn-outline-secondary option" href="#" role="button">Urgent</a>
                 <a class="btn btn-outline-success option" href="#" role="button">Information</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/assistance.js"></script>
    </body>
    </html>