
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dining Service</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/dining.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
      <%- include('../partials/navbar.ejs') %>
      <h1 id="title">Menu</h1>
      <div class="container">
      <div class="card-deck">
        <div class="card">
          <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-keto-pizza-073-1544039876.jpg?crop=1.00xw:0.752xh;0.00160xw,0.0841xh&resize=1200:*" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pizza</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
            <a href="#" id="Whatever" class="btn btn-primary">Order <i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
        <div class="card" >
          <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/190305-lemon-garlic-asparagus-pasta-horizontal-161-1553190755.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pasta</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
            <a href="#" class="btn btn-primary">Order</a>
          </div>
        </div>

        <div class="card" >
          <img src="https://www.ambitiouskitchen.com/wp-content/uploads/2018/02/chickensoup-2-725x725-1-500x375.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Soup</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
            <a href="#" class="btn btn-primary">Order</a>
          </div>
        </div>
      </div>

      <div class="card-deck">
        <div class="card" >
          <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimg1.cookinglight.timeinc.net%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Fmedium_2x%2Fpublic%2F1542062283%2Fchocolate-and-cream-layer-cake-1812-cover.jpg%3Fitok%3DrEWL7AIN&w=450&c=sc&poi=face&q=85" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Cake</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
            <a href="#" class="btn btn-primary">Order</a>
          </div>
        </div>

        <div class="card" >
          <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/shot-5-0456-1522856490.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Salad</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
            <a href="#" class="btn btn-primary">Order</a>
          </div>
        </div>

        <div class="card" >
          <img src="https://www.thespruceeats.com/thmb/hl4lkmdLO7tj1eDCsGbakfk97Co=/3088x2055/filters:fill(auto,1)/marinated-top-round-steak-3060302-hero-02-ed071d5d7e584bea82857112aa734a94.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Steak</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
            <a href="#" class="btn btn-primary">Order</a>
          </div>
        </div>
      </div> 
    </div>



      <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/dining.js"></script>
  </body>
    </html>