
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hotel Menu App</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <div class="jumbotron jumbotron-fluid" id="jumbotron">
    <div class="container">
      <h1 class="display-4">Welcome to San Andreas Valley Hotel</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
    <div class="" id="topCards">
        <div class="card" style="width: 30rem;">
            <img src="./images/dining.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Room Dining Service</h5>
              <p class="card-text">Choose a various selection of cuisine from our menu straight to your room</p>
              <a href="/dining"><button type="button" class="btn btn-info">Check out Dining</button></a>
            </div>
          </div>
          <div class="card" style="width: 30rem;">
            <img src="./images/room.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Room Assistance</h5>
              <p class="card-text">Need help with anything?</p>
              <a href="/assistance"><button type="button" class="btn btn-info">Check out Assistance</button></a>
            </div>
          </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>